<div class="container">
<p style="color: green"><%= notice %></p>




<div class="row">
  <div class="col-10 ">
<h1><%= @study.name %></h1>

<p><%= @study.description %></p>
  </div>
  <div class="col-2">
  <%= link_to "Edit this study", edit_study_path(@study) %> |
  <%= link_to "Back to studies", studies_path %>

  <%= button_to "Destroy this study", @study, method: :delete %>

  </div>

</div>

<h2>Graphs</h2>
<%= link_to 'New Graph', new_study_graph_path(@study) %>


<% if @study.graphs.any? %>
  
    <% @study.graphs.each do |graph| %>
      <div class="row">
        <div class="col-1">
        <h2><%= graph.name %></h2>
          <p><%= graph.location %> </p>
          <p><%= graph.dependent_var %></p>
          <%= link_to "Edit Graph", edit_study_graph_path(@study, graph) %>
        <p><%= graph.description %></p>
        <%= link_to "Destroy", study_graph_path(@study, graph), data: { turbo_method: :delete }, class: "" %>

          </div>

          <div class="col-11">

<%= 

coords = JSON.parse(graph.coords)
@foo = Vega.lite
  .data(coords)
  .mark(type: "bar", tooltip: true)
  .encoding(
    x: {field: "x", type: "nominal"},
    y: {field: "y", type: "quantitative"}
  )


%>
        </div>
      </div>
    <% end %>
 
<% else %>
  <p>No graphs found.</p>
<% end %>


</div>