<%= form_with(model: graph, url: [@study, graph]) do |form| %>


  <% if graph.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
        <% graph.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :start_year, style: "display: block" %>
    <%= form.number_field :start_year %>
  </div>

  <div>
    <%= form.label :end_year, style: "display: block" %>
    <%= form.number_field :end_year %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :range, style: "display: block" %>
    <%= form.check_box :range %>
  </div>

  <div>
    <%= form.label :month, style: "display: block" %>
    <%= form.number_field :month %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.number_field :day %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.number_field :hour %>
  </div>

  <div>
    <%= form.label :independent_var, style: "display: block" %>
    <%= form.text_field :independent_var %>
  </div>

  <div>
    <%= form.label :dependent_var, style: "display: block" %>
    <%= form.select :dependent_var, [ "temperature",                                                         
 "dewpoint_temperature",                                                
 "soil_temperature_level_1",                                            
 "soil_temperature_level_2",                                            
 "soil_temperature_level_3",                                            
 "soil_temperature_level_4",
 "surface_thermal_radiation",
 "surface_solar_radiation",
 "direct_normal_solar_radiation",
 "surface_diffuse_solar_radiation",
 "relative_humidity",
 "surface_pressure",
 "mean_sea_level_pressure",
 "total_cloud_cover",
 "total_precipitation",
 "snowfall",
 "snow_depth",
 "snow_density",
 "volumetric_soil_water_layer_1",
 "volumetric_soil_water_layer_2",
 "volumetric_soil_water_layer_3",
 "volumetric_soil_water_layer_4",
 "wind_speed",
 "wind_direction",
 "10m_wind_gust",
 "100m_wind_speed",
 "100m_wind_direction"]
         %>
  </div>

  <div>
    <%= form.label :function, style: "display: block" %>
    <%= form.select :function, ["mean", "max", "min"]%>
  </div>

  <div>
    <%= form.label :chart_type, style: "display: block" %>
    <%= form.select :chart_type, ["line", "scatter", "bar", "area", "pie"]
         %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, ["Range_across_years",
     "Compare_one_month_across_years", "Monthly_for_one_year",
     "Hourly_for_one_month_in_a_single_year"] %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.select :location, ["Buhl",                    
 "Burley",                  
 "Caldwell",                
 "Cour d'Alene",            
 "Emmett",                  
 "Gannet",
 "Gooding",
 "Grangeville",
 "Idaho Falls",
 "Ketchum",
 "Minidoka",
 "Moscow",
 "Mountain Home",
 "Mountains West of Jackpot",
 "Murtaugh",
 "Oakley",
 "Payette",
 "Pike Mountain",
 "Pocatello",
 "Salmon",
 "Twin Falls"] 
 %>
  </div>

  <div>
    <%= form.label :lat, style: "display: block" %>
    <%= form.text_field :lat %>
  </div>

  <div>
    <%= form.label :lon, style: "display: block" %>
    <%= form.text_field :lon %>
  </div>





  <div>
    <%= form.submit %>
  </div>
<% end %>
