
<div class="container">
<%= form_with(model: graph, url: [@study, graph], class: "needs-validation", novalidate: true) do |form| %>


  <% if graph.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
        <% graph.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mb-5">
  <div class="col">
    Note: It takes around 60 seconds to process, please allow it time to complete.
  </div>
</div>


  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Please provide a name for the graph.
    </div>
  </div>

<div class="row">
 <div class="col-6">
    <%= form.label :location, class: "form-label" %>
    <%= form.select :location, ["Buhl",                    
 "Burley",                  
 "Caldwell",                
 "Cour d'Alene",            
 "Emmett",                  
 "Gannet",
 "Gooding",
 "Grangeville",
 "Idaho Falls",
 "Ketchum",
 "Minidoka",
 "Moscow",
 "Mountain Home",
 "Mountains West of Jackpot",
 "Murtaugh",
 "Oakley",
 "Payette",
 "Pike Mountain",
 "Pocatello",
 "Salmon",
 "Twin Falls"] 
 %>
  </div>


  <div class="col-6">
    <%= form.label :dependent_var, class: "form-label" %>
    <%= form.select :dependent_var, [ "temperature",                                                         
 "dewpoint_temperature",                                                
 "soil_temperature_level_1",                                            
 "soil_temperature_level_2",                                            
 "soil_temperature_level_3",                                            
 "soil_temperature_level_4",
 "surface_thermal_radiation",
 "surface_solar_radiation",
 "direct_normal_solar_radiation",
 "surface_diffuse_solar_radiation",
 "relative_humidity",
 "surface_pressure",
 "mean_sea_level_pressure",
 "total_cloud_cover",
 "total_precipitation",
 "snowfall",
 "snow_depth",
 "snow_density",
 "volumetric_soil_water_layer_1",
 "volumetric_soil_water_layer_2",
 "volumetric_soil_water_layer_3",
 "volumetric_soil_water_layer_4",
 "wind_speed",
 "wind_direction",
 "10m_wind_gust",
 "100m_wind_speed",
 "100m_wind_direction"]
         %>
  </div>


</div>




  <div class="mb-3 mt-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

<div class="row">
<div data-controller="form">
  <div class="col">
    <%= form.collection_select :category, ["Range_across_years", "Compare_one_month_across_years", "Monthly_for_one_year", "Hourly_for_one_month_in_a_single_year"],
    :to_s, :titlecase, {}, data: { action: "change->form#toggle" }, id: "foo" %>
  </div>

  <div class="col">

    <div id="startYearField">
      <div data-form-target="startYear">
        <%= form.label "Start Year (1950-2022)" %>
        <%= form.text_field :start_year, class: "form-control", data: { target: "form.startYear" } %>
      </div>
    </div>

    <div id="endYearField">
      <div data-form-target="endYear">
        <%= form.label "End Year (1950-2022)" %>
        <%= form.text_field :end_year, class: "form-control", data: { target: "form.endYear" } %>
      </div>
    </div>

    <div id="yearField">
      <div data-form-target="year">
        <%= form.label "Year (1950-2022)" %>
        <%= form.text_field :year, class: "form-control", data: { target: "form.year" } %>
      </div>
    </div>

    <div id="monthField">
      <div data-form-target="month">
        <%= form.label "Month (1-12)" %>
        <%= form.text_field :month, class: "form-control", data: { target: "form.month" } %>
      </div>
    </div>
  </div>
</div>
</div>






<div class="row mt-5">
<div class="col">
  <%= form.label :function, class: "form-label" %>
  <%= form.select :function, ["mean", "max", "min"], class: "form-select" %>
</div>
</div>

<div class="row mt-1">
<div class="col">
  <%= form.label :chart_type, class: "form-label" %>
  <%= form.select :chart_type, ["line", "scatter", "bar", "area", "pie"], class: "form-select" %>
</div>
</div>











  <div class="row" >
    <div class="col d-flex justify-content-center">
    <%= form.submit "Submit", class: "btn btn-primary mt-3 btn-lg"%>
    </div>
  </div>



<% end %>
</div>



