<div id="<%= dom_id graph %>">
  <p>
    <strong>Name:</strong>
    <%= graph.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= graph.description %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= graph.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= graph.end_year %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= graph.year %>
  </p>

  <p>
    <strong>Range:</strong>
    <%= graph.range %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= graph.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= graph.day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= graph.hour %>
  </p>

  <p>
    <strong>Independent var:</strong>
    <%= graph.independent_var %>
  </p>

  <p>
    <strong>Dependent var:</strong>
    <%= graph.dependent_var %>
  </p>

  <p>
    <strong>Chart type:</strong>
    <%= graph.chart_type %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= graph.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= graph.location %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= graph.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= graph.lon %>
  </p>

  <p>
    <strong>Function:</strong>
    <%= graph.function %>
  </p>

  <p>
    <strong>Study:</strong>
    <%= graph.study_id %>
  </p>

</div>
